/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2016, 3:39:54 PM
    Author     : rizki
*/
header .nav > li > a{
    color: #2e2e2e;
}
.ct-container{
    padding: 25px 15px;
}
footer{
    background: #2E2E2E;
    color: #ccc;
    padding: 25px 0
}
i.fa{
    margin-left: 5px;
    margin-right: 5px;
}
.padded-vertical{
    padding-top: 15px;
    padding-bottom: 15px;
}
.padded-vertical .btn{
    margin-top: 5px;
}
.astrix{
    color: #ff0000
}
small.errors{
    color: #ff0000
}
.btn-action{
    margin-left: 3px;
    margin-right: 3px;
}